# dependencies
node_modules/
.pnp
.pnp.js

# next.js
.next/
out/
build/
dist/

# production
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
*.pem
.vercel
.turbo
coverage/

# env
.env
.env.local
.env.*.local

# local database (PGlite dev server) & uploads
.pgdata/
storage/
uploads/
public/uploads/
backups/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# electron-builder output
release/

